doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/script.js')
    script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
    link(rel='stylesheet', href='/stylesheets/jquery-gmaps-latlon-picker.css')
    script(src='/javascripts/jquery-gmaps-latlon-picker.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    block content
   script.
    $(document).ready(function() {
    // Copy the init code from "jquery-gmaps-latlon-picker.js" and extend it here
    $(".gllpLatlonPicker").each(function() {
    $obj = $(document).gMapsLatLonPicker();
    $obj.params.strings.markerText = "Drag this Marker (example edit)";
    $obj.params.displayError = function(message) {
    console.log("MAPS ERROR: " + message); // instead of alert()
    };
    $obj.init( $(this) );
    });
    });

